<template>
  <div
    class="collapse navbar-collapse w-auto h-auto h-100"
    id="sidenav-collapse-main"
  >
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
    >
      <el-menu-item index="2">
        <i class="fa fa-th text-primary text-sm opacity-10 me-2"></i>

        <router-link to="/dashboard-default" class="text-sm"
          >Dashboard</router-link
        >
      </el-menu-item>
      <el-sub-menu index="1">
        <template #title>
          <i class="fa fa-users text-primary text-sm opacity-10 me-2"></i>
          <span>Users</span>
        </template>
        <el-menu-item-group title="">
          <el-menu-item index="1-1">
            <router-link to="/users" class="text-sm"
              >All Users</router-link
            ></el-menu-item
          >
        </el-menu-item-group>
      </el-sub-menu>
      <el-sub-menu index="3">
        <template #title>
          <i class="fa fa-cog text-sm opacity-10 text-primary me-2"></i>
          <span>Status</span>
        </template>
        <el-menu-item-group title="">
          <el-menu-item index="3-1">
            <router-link to="/settings/status"
              >All Status</router-link
            ></el-menu-item
          >
        </el-menu-item-group>
      </el-sub-menu>
      <el-sub-menu index="4">
        <template #title>
          <i class="fa fa-copy text-sm opacity-10 text-primary me-2"></i>
          <span>Task</span>
        </template>
        <el-menu-item-group title="">
          <el-menu-item index="4-6">
            <router-link to="/tasks">All Tasks</router-link></el-menu-item
          >
        </el-menu-item-group>
      </el-sub-menu>
      <el-sub-menu index="5">
          <template #title>
            <i class="fa fa-thumb-tack text-sm opacity-10 text-primary me-2"></i>
            <span>Assign Task</span>
          </template>
          <el-menu-item-group title="">
            <el-menu-item index="4-2">
              <router-link to="/task-assigns">Assigns</router-link></el-menu-item
            >
          </el-menu-item-group>
      </el-sub-menu>
    </el-menu>
  </div>
</template>
<script>
export default {
  name: "SidenavList",
  props: {
    cardBg: String,
  },
  data() {
    return {
      title: "Clinical",
      controls: "dashboardsExamples",
      isActive: "active",
    };
  },
  components: {},
  methods: {
    getRoute() {
      const routeArr = this.$route.path.split("/");
      return routeArr[1];
    },
  },
};
</script>


<style lang="scss" scoped>
$color-emperor: #4f4f4f;
$color-mine-shaft: #333333;
$color-bondi-blue: #344767;
$left-spacing: 20px;
.collapsible-menu {
  font-size: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;

  .check {
    position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: 0;

    &:checked {
      ~ ul {
        opacity: 1;
        max-height: 9999em;
        pointer-events: all;
        transition: opacity 0.15s ease-in-out;

        > li {
          margin: 12px 0;
        }
      }

      + label {
        > .icon-wrapper {
          > .icon-angle {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  ul,
  li {
    list-style: none;
  }

  ul {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    padding: 0;
    overflow: hidden;

    li {
      margin: 0;
      transition: 0.15s ease-out;
      padding-left: $left-spacing;
    }
  }

  // collapsible menu
  label {
    font-weight: 600;
    color: #344767;
    user-select: none;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    margin-bottom: 0;
    width: 100%;
    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 1rem;

      .icon-angle {
        transform-origin: center;
        transition: 0.15s ease-in-out;
      }
    }
  }

  > li {
    &.active {
      overflow: hidden;
      box-shadow: none;
      color: #344767;

      > label {
        background-color: #f6f9fc;
        border-radius: 0.5rem;
      }
    }

    &:not(.active) {
      .check {
        &:checked {
          ~ ul {
            margin-top: -8px;
            margin-left: 15px;
          }
        }
      }
    }
  }
}

a {
  padding-left: 0 !important;
}
</style>
