<template>
  <div class="modal-overlay" @click="$emit('close-admin-modal')">
    <div class="card" @click.stop>
      <div class="card-header">
        <i class="fa fa-lock text-primary me-2" />New Admin
      </div>
      <hr class="horizontal dark m-0" />

      <el-form
        ref="adminFormRef"
        :model="adminForm"
        :rules="rules"
        label-width="120px"
        size=""
        services-icon
        :scroll-to-error="true"
        label-position="top"
        :hide-required-asterisk="true"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <el-form-item label="First Name" prop="first_name">
                <el-input v-model="adminForm.first_name" />
              </el-form-item>
            </div>

            <div class="col-md-6 mb-3">
              <el-form-item label="Last Name" prop="last_name">
                <el-input v-model="adminForm.last_name" />
              </el-form-item>
            </div>
            <div class="col-md-6 mb-3">
              <el-form-item label="Email" prop="email">
                <el-input v-model="adminForm.email" />
              </el-form-item>
            </div>

            <div class="col-md-6 mb-3">
              <el-form-item label="Phone Number" prop="phone">
                <el-input v-model="adminForm.phone" />
              </el-form-item>
            </div>
            <div class="col-md-6 mb-3">
              <el-form-item label="Role" prop="role">
                <el-select-v2
                  v-model="adminForm.role"
                  filterable
                  :options="roles"
                  placeholder="Please select a role"
                  style="width: 100%"
                  disabled
                />
              </el-form-item>
            </div>
            <div class="col-md-6 mb-3">
              <el-form-item label="Password" prop="password">
                <el-input v-model="adminForm.password" type="password"  :show-password="true" />
              </el-form-item>
            </div>
          </div>
        </div>
        <div class="card--footer">
          <button
            class="btn mb-0 btn-danger btn-xs null null"
            @click="$emit('close-admin-modal')"
          >
            Cancel
          </button>
          <el-button
            type="success"
            :loading="isLoading"
            @click="submitForm(adminFormRef)"
            >Submit</el-button
          >
        </div>
      </el-form>
    </div>
    <div class="close bg-danger" @click="$emit('close-admin-modal')">
      <i class="fa fa-times" />
    </div>
  </div>
</template>

<script>
import { reactive, ref } from "vue";
import { createAdmin } from "../../api/services/users";
import { ElNotification } from "element-plus";
const adminFormRef = ref();
const isLoading = ref(false);
const roles = ref([
  { label: "Admin", value: "admin" },
  { label: "Doctor", value: "doctor" },
  { label: "Receptionist", value: "receptionist" },
]);
export default {
  name: "add-admin",

  setup(props, { emit }) {
    // const { refresh } = toRefs(props);

    const adminForm = reactive({
      email: "",
      first_name: "",
      last_name: "",
      password: "",
      phone: "",
      role: "admin",
    });

    const rules = reactive({
      email: [
        {
          required: true,
          message: "Please input email address",
          trigger: "blur",
        },
        {
          type: "email",
          message: "Please input correct email address",
          trigger: ["blur", "change"],
        },
      ],
      phone: [
        {
          required: true,
          message: "Please input your phone number",
          trigger: ["blur", "change"],
        },

        {
          min: 6,
          max: 255,
          message: "Minimum characters should be 6",
          trigger: "blur",
        },
      ],
      first_name: [
        {
          required: true,
          message: "Please input first name",
          trigger: ["blur", "change"],
        },
      ],
      last_name: [
        {
          required: true,
          message: "Please input last name",
          trigger: ["blur", "change"],
        },
      ],
      password: [
        {
          required: true,
          message: "Please input a password",
          trigger: ["blur", "change"],
        },

        {
          min: 6,
          max: 255,
          message: "Minimum characters should be 6",
          trigger: "blur",
        },
      ],
    });

    const submitForm = async (formEl) => {
      if (!formEl) return;
      await formEl.validate((valid, fields) => {
        if (valid) {
          isLoading.value = true;
          const formData = new FormData();

          formData.append("email", adminForm.email);
          formData.append("first_name", adminForm.first_name);
          formData.append("last_name", adminForm.last_name);
          formData.append("phone", adminForm.phone);
          formData.append("password", adminForm.password);
          formData.append("role", adminForm.role);

          createAdmin(formData)
            .then((data) => {
              if (data.success) {
                ElNotification({
                  title: "Success",
                  message: data.message,
                  type: "success",
                });
                emit("close-admin-modal");
                // refresh.value();
              } else {
                Object.values(data.errors).forEach((val) =>
                  ElNotification({
                    title: "Error",
                    message: val[0],
                    type: "error",
                  })
                );
              }
            })
            .catch((err) =>
              ElNotification({
                title: "Error",
                message: err.message,
                type: "error",
              })
            )
            .finally(() => {
              isLoading.value = false;
            });
        } else {
          console.log("error submit!", fields);
        }
      });
    };
    return {
      submitForm,
      rules,
      adminForm,
      adminFormRef,
      isLoading,
      roles,
    };
  },
};
</script>
<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.card {
  margin-top: 5%;
  outline: 0;
  border-radius: 7px;
  max-width: 550px;
  max-height: 420px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.15);
}
.card-body {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-header {
  border-bottom: 1px solid #e9ecef;
  padding: 1.2rem !important;
}
.card--footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem 1.2rem 1.2rem !important;
}
.close {
  margin: 5% 0 0 10px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

input {
  border-radius: 6px;
}
</style>
