<template>
  <div class="modal-overlay" @click="$emit('close-task-modal')">
    <div class="card" @click.stop>
      <div class="card-header">
        <i class="fa fa-thumb-tack text-primary me-2" />New Assignment
      </div>
      <hr class="horizontal dark m-0" />

      <el-form
        ref="assignmentFormRef"
        :model="assignmentForm"
        :rules="rules"
        label-width="120px"
        size=""
        services-icon
        :scroll-to-error="true"
        label-position="top"
        :hide-required-asterisk="true"
      >


      <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-3">
              <el-form-item label="User" prop="user">
                <el-select-v2
                  v-model="assignmentForm.user"
                  filterable
                  :options="users"
                  placeholder="Please select user"
                  style="width: 100%"
                />
              </el-form-item>
              </div>
              <div class="col-md-6 mb-3">
                <el-form-item label="Task" prop="task">
                  <el-select-v2
                    v-model="assignmentForm.task"
                    filterable
                    :options="tasks"
                    placeholder="Please select task"
                    style="width: 100%"
                  />
                </el-form-item>
              </div>
              <div class="col-md-12 mb-3">
                <el-form-item label="Status" prop="status">
                  <el-select-v2
                    v-model="assignmentForm.status"
                    filterable
                    :options="status"
                    placeholder="Please select status"
                    style="width: 100%"
                  />
                </el-form-item>
              </div>
              <div class="col-md-12 mb-3">
                <el-form-item label="Remarks" prop="remark">
                  <el-input v-model="assignmentForm.remark" type="textarea"  />
                </el-form-item>
              </div>

              <div class="col-md-6 mb-3">
                <el-form-item label="Start Time" prop="startTime">
                  <el-date-picker
                    type="datetime"
                    placeholder="Pick start time"
                    style="width: 100%"
                    v-model="assignmentForm.startTime"
                  />
                </el-form-item>
              </div>

              <div class="col-md-6 mb-3">
                <el-form-item label="End Time" prop="endTime">
                  <el-date-picker
                    type="datetime"
                    placeholder="Pick end time"
                    style="width: 100%"
                    v-model="assignmentForm.endTime"
                  />
                </el-form-item>
              </div>
  
            </div>
        </div>
        <div class="card--footer">
          <button
            class="btn mb-0 btn-danger btn-xs null null"
            @click="$emit('close-task-modal')"
          >
            Cancel
          </button>
          <el-button
            type="success"
            :loading="isLoading"
            @click="submitForm(assignmentFormRef)"
            >Submit</el-button
          >
        </div>
      </el-form>
    </div>
    <div class="close bg-danger" @click="$emit('close-task-modal')">
      <i class="fa fa-times" />
    </div>
  </div>
</template>

<script>
import { reactive, ref } from "vue";
import { fetchTasks, fetchStatus, creatAssignment } from "../../api/services/services";
import { fetchUsers } from "../../api/services/users";
import { ElNotification } from "element-plus";
import moment from "moment";

const assignmentFormRef = ref();
const isLoading = ref(false);
const users = ref([]);
const status = ref([]);
const tasks = ref([]);

export default {
  name: "add-medicine",

  setup(props, { emit }) {
    const assignmentForm = reactive({
      user: "",
      task: "",
      status: "",
      remark: "",
      startTime: "",
      endTime: ""
    });

    const rules = reactive({
      user: [
        {
          required: true,
          message: "Please select user",
          trigger: ["blur", "change"],
        },
      ],
      status: [
        {
          required: true,
          message: "Please select status",
          trigger: ["blur", "change"],
        },
      ],
      task: [
        {
          required: true,
          message: "Please select task",
          trigger: ["blur", "change"],
        },
      ],
      remark: [
        {
          required: true,
          message: "Please input a remark",
          trigger: ["blur", "change"],
        },
      ],
      startTime: [
        {
          required: true,
          message: "Please select start time",
          trigger: ["blur", "change"],
        },
      ],
      endTime: [
        {
          required: true,
          message: "Please select end time",
          trigger: ["blur", "change"],
        },
      ],
    });


    const formatDate = (value) => {
      return moment(value).format();
    };

    const submitForm = async (formEl) => {
      if (!formEl) return;
      await formEl.validate((valid, fields) => {
        if (valid) {
          isLoading.value = true;
          const formData = new FormData();
          let startDate = formatDate(assignmentForm.starTime);
          let endDate = formatDate(assignmentForm.endTime);

          formData.append("user_id", assignmentForm.user);
          formData.append("task_id", assignmentForm.task);
          formData.append("status_id", assignmentForm.status);
          formData.append("remarks", assignmentForm.remark);          
          formData.append("start_time", startDate);
          formData.append("end_time", endDate);

          creatAssignment(formData)
            .then((data) => {
              if (data.success) {
                ElNotification({
                  title: "Success",
                  message: data.message,
                  type: "success",
                });
                emit("refresh-tasks");
                emit("close-task-modal");
              } else {
                Object.values(data.errors).forEach((val) =>
                  ElNotification({
                    title: "Error",
                    message: val[0],
                    type: "error",
                  })
                );
              }
            })
            .catch((err) =>
              ElNotification({
                title: "Error",
                message: err.message,
                type: "error",
              })
            )
            .finally(() => {
              isLoading.value = false;
            });
        } else {
          console.log("error submit!", fields);
        }
      });
    };
    return {
      submitForm,
      rules,
      assignmentForm,
      assignmentFormRef,
      isLoading,
      users,
      status,
      tasks
    };
  },
  created() {
    this.fetchUsersList();
    this.fetchStatusList();
    this.fetchTasksList();
  },
  methods: {
    async fetchUsersList() {
      try {
        const response = await fetchUsers();
        console.log("the response", response);

        const tempUsers = response.data.data.map((user) => ({
          value: `${user.id}`,
          label: `${user.name}`,
        }));
        users.value = tempUsers;
      } catch (error) {
        console.log(error);
      }
    },    
    async fetchStatusList() {
      try {
        const response = await fetchStatus();
        console.log("the response", response);

        const tempStatus = response.data.data.map((status) => ({
          value: `${status.id}`,
          label: `${status.name}`,
        }));
        status.value = tempStatus;
      } catch (error) {
        console.log(error);
      }
    },    
    async fetchTasksList() {
      try {
        const response = await fetchTasks();
        console.log("the response", response);

        const tempTasks = response.data.data.map((task) => ({
          value: `${task.id}`,
          label: `${task.name}`,
        }));
        tasks.value = tempTasks;
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.card {
  margin-top: 5%;
  outline: 0;
  border-radius: 7px;
  width: 560px;
  max-height: 600px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.15);
}
.card-body {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-header {
  border-bottom: 1px solid #e9ecef;
  padding: 1.2rem !important;
}
.card--footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem 1.2rem 1.2rem !important;
}
.close {
  margin: 5% 0 0 10px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

input {
  border-radius: 6px;
}
</style>
