<template>
  <div class="modal-overlay" @click="$emit('close-task-modal')">
    <div class="card" @click.stop>
      <div class="card-header">
        <i class="ni ni-calendar-grid-58 text-primary me-2" />New Appointment
      </div>
      <hr class="horizontal dark m-0" />

      <div class="card-body">
        <el-form
          ref="taskFormRef"
          :model="taskForm"
          label-width="auto"
          label-position="top"
          :rules="rules"
          size=""
          services-icon
          :scroll-to-error="true"
          :hide-required-asterisk="true"
        >
          <el-form-item label="Task Name" prop="name">
            <el-input v-model="taskForm.name" />
          </el-form-item>
          <el-form-item>

          </el-form-item>
            <el-form-item label="Description" prop="description">
              <el-input v-model="taskForm.description" type="textarea" />
          </el-form-item>
          <el-form-item label="Due Date" prop="date">
            <el-date-picker
              type="datetime"
              placeholder="Pick a date"
              style="width: 100%"
              v-model="taskForm.date"
            />
          </el-form-item>
        </el-form>
      </div>
      <div class="card-footer">
        <el-button
          type="danger"
          class="btn mb-0 btn-danger btn-xs null null"
          @click="$emit('close-task-modal')"
        >
          Cancel
        </el-button>
        <el-button
          type="success"
          class="btn mb-0 btn-success btn-xs null null"
          :loading="isLoading"
          @click="submitForm(taskFormRef)"
        >
          Submit
        </el-button>
      </div>
    </div>
    <div class="close bg-danger" @click="$emit('close-task-modal')">
      <i class="fa fa-times" />
    </div>
  </div>
</template>
<script>
import { reactive, ref } from "vue";
import { ElNotification } from "element-plus";
import { createTasks } from "../../api/services/services";
import moment from "moment";

const taskFormRef = ref();
const isLoading = ref(false);

export default {
  setup(props, { emit }) {
    const taskForm = reactive({
      name: "",
      date: "",
      description: ""
    });

    const rules = reactive({
      name: [
        {
          required: true,
          message: "Please input task name",
          trigger: ["blur", "change"],
        },
      ],
      date: [
        {
          required: true,
          message: "Please select due date",
          trigger: ["blur", "change"],
        },
      ],

      description: [
        {
          required: true,
          message: "Please  input task description",
          trigger: ["blur", "change"],
        },
      ],
    });

    const formatDate = (value) => {
      return moment(value).format();
    };

    const submitForm = async (formEl) => {
      if (!formEl) return;
      await formEl.validate((valid, fields) => {
        if (valid) {
          isLoading.value = true;
          const formData = new FormData();

          let formattedDate = formatDate(taskForm.date);
          console.log("dat checek", formattedDate);

          formData.append("name", taskForm.name);
          formData.append("description", taskForm.description);
          formData.append("due_date", formattedDate);

          createTasks(formData)
            .then((data) => {
              if (data.success) {
                ElNotification({
                  title: "Success",
                  message: data.message,
                  type: "success",
                });

                emit("refresh-tasks");
                emit("close-task-modal");
              } else {
                Object.values(data.errors).forEach((val) =>
                  ElNotification({
                    title: "Error",
                    message: val[0],
                    type: "error",
                  })
                );
              }
            })
            .catch((err) =>
              ElNotification({
                title: "Error",
                message: err.message,
                type: "error",
              })
            )
            .finally(() => {
              isLoading.value = false;
            });
        } else {
          console.log("error submit!", fields);
        }
      });
    };
    return {
      submitForm,
      rules,
      taskForm,
      taskFormRef,
      isLoading,
    };
  }
};
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.card {
  margin-top: 5%;
  outline: 0;
  border-radius: 7px;
  min-width: 450px;
  max-height: 420px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.15);
}
.card-body {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-header {
  border-bottom: 1px solid #e9ecef;
  padding: 1.2rem !important;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem !important;
}
.close {
  margin: 5% 0 0 10px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

input {
  border-radius: 6px;
}
.el-radio-group {
  margin-right: 12px;
}
</style>
