<template>
  <div class="modal-overlay" @click="$emit('close-modal')">
    <div class="card" @click.stop>
      <div class="card-header">
        <i class="fa fa-user text-primary me-2" />New User
      </div>
      <hr class="horizontal dark m-0" />

      <el-form
        ref="userFormRef"
        :model="userForm"
        :rules="rules"
        label-width="120px"
        size=""
        services-icon
        :scroll-to-error="true"
        label-position="top"
        :hide-required-asterisk="true"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <el-form-item label=" Name" prop="name">
                <el-input v-model="userForm.name" />
              </el-form-item>
            </div>

            <div class="col-md-6 mb-3">
              <el-form-item label="Email" prop="email">
                <el-input v-model="userForm.email" />
              </el-form-item>
            </div>

            <!-- <div class="col-md-6 mb-3">
              <el-form-item label="Blood Group" prop="blood_group">
                <el-select
                  class="w-100"
                  placeholder="Select blood group"
                  v-model="userForm.blood_group"
                >
                  <el-option label="A" value="A" />
                  <el-option label="B+" value="B+" />
                  <el-option label="0" value="0" />
                  <el-option label="AB" value="AB" />
                </el-select>
              </el-form-item>
            </div> -->
          </div>
        </div>
        <div class="card--footer">
          <button
            class="btn mb-0 btn-danger btn-xs null null"
            @click="$emit('close-modal')"
          >
            Cancel
          </button>
          <el-button
            type="success"
            :loading="isLoading"
            @click="submitForm(userFormRef)"
            >Submit</el-button
          >
        </div>
      </el-form>
    </div>
    <div class="close bg-danger" @click="$emit('close-modal')">
      <i class="fa fa-times" />
    </div>
  </div>
</template>

<script>
import { reactive, ref } from "vue";
import { createUser } from "../../api/services/users";
import { ElNotification } from "element-plus";
const userFormRef = ref();
const isLoading = ref(false);
export default {
  name: "add-user",

  setup(props, { emit }) {
  
    const userForm = reactive({
      email: "",
      name: "",
    });

    const rules = reactive({
      email: [
        {
          required: true,
          message: "Please input email address",
          trigger: "blur",
        },
        {
          type: "email",
          message: "Please input correct email address",
          trigger: ["blur", "change"],
        },
      ],
      name: [
        {
          required: true,
          message: "Please input name",
          trigger: ["blur", "change"],
        },
      ],
    });

    const submitForm = async (formEl) => {
      if (!formEl) return;
      await formEl.validate((valid, fields) => {
        if (valid) {
          isLoading.value = true;
          const formData = new FormData();

          formData.append("email", userForm.email);
          formData.append("name", userForm.name);

          createUser(formData)
            .then((data) => {
              if (data.success) {
                console.log("data", data);

                ElNotification({
                  title: "Success",
                  message: data.message,
                  type: "success",
                });
                emit("refresh-users");
                emit("close-modal");
              
              } else {
                Object.values(data.errors).forEach((val) =>
                  ElNotification({
                    title: "Error",
                    message: val[0],
                    type: "error",
                  })
                );
              }
            })
            .catch((err) =>
              ElNotification({
                title: "Error",
                message: err.message,
                type: "error",
              })
            )
            .finally(() => {
              isLoading.value = false;
            });
        } else {
          console.log("error submit!", fields);
        }
      });
    };
    return {
      submitForm,
      rules,
      userForm,
      userFormRef,
      isLoading,
    };
  },
};
</script>
<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.card {
  margin-top: 5%;
  outline: 0;
  border-radius: 7px;
  max-width: 550px;
  max-height:300px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.15);
}
.card-body {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-header {
  border-bottom: 1px solid #e9ecef;
  padding: 1.2rem !important;
}
.card--footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem 1.2rem 1.2rem !important;
}
.close {
  margin: 5% 0 0 10px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

input {
  border-radius: 6px;
}
</style>
