<template>
  <argon-button color="success" size="sm" class="mt-2" @click="drawer = true"
    >User's History</argon-button
  >
  <el-drawer v-model="drawer" title="User History" direction="rtl">
    <el-timeline>
      <el-timeline-item timestamp="12/01/2023" placement="top">
        <el-card class="mb-3">
          <h6 class="text-sm">Triage</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </el-card>
        <el-card class="mb-3">
          <h6 class="text-sm">Progress Notes</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut 
          </p>
        </el-card>
        <el-card class="mb-3">
          <h6 class="text-sm">Prescription</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor
          </p>
        </el-card>
      </el-timeline-item>

      <el-timeline-item timestamp="12/02/2023" placement="top">
        <el-card class="mb-3">
          <h6 class="text-sm">Triage</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </el-card>
        <el-card class="mb-3">
          <h6 class="text-sm">Progress Notes</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor 
          </p>
        </el-card>
        <el-card class="mb-3">
          <h6 class="text-sm">Prescription</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </el-card>
      </el-timeline-item>
      <el-timeline-item timestamp="12/03/2023" placement="top">
        <el-card class="mb-3">
          <h6 class="text-sm">Triage</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </el-card>
        <el-card class="mb-3">
          <h6 class="text-sm">Progress Notes</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </el-card>
        <el-card class="mb-3">
          <h6 class="text-sm">Prescription</h6>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </el-card>
      </el-timeline-item>
    </el-timeline>
  </el-drawer>
</template>
<script>
import ArgonButton from "@/components/ArgonButton.vue";
export default {
  name: "timeline-drawer",
  data() {
    return {
      drawer: false,
    };
  },
  components: { ArgonButton },
};
</script>
