<template>
  <main class="mt-0 main-content">
    <section>
      <div class="page-header min-vh-100">
        <div class="row">
          <div
            class="top-0 my-auto text-center col-6 d-lg-flex d-none pe-0 justify-content-center flex-column"
            style="height: 100vh"
          >
            <div
              class="position-relative bg-gradient-primary h-100 px-7 d-flex flex-column justify-content-center overflow-hidden"
              :style="{
                backgroundImage:
                  'url(' + require('@/assets/img/african-doc.jpg') + ')',
                backgroundSize: 'cover',
              }"
            >
              <span class="mask bg-gradient-secondary opacity-4"></span>
              <h4 class="mt-5 text-white font-weight-bolder position-relative">
                "Here to Simplify Your Hospital’s Management, One Click at a
                Time"
              </h4>
              <p class="text-white position-relative">
                A hospital and clinic management software which enables you to
                run your core financial, clinical, and operational processes
              </p>
            </div>
          </div>
          <div
            class="col-lg-5 d-flex flex-column mx-auto my-auto align-items-end"
          >
            <div class="card card-plain">
              <div class="pb-0 card-header text-start">
                <h4 class="font-weight-bolder">Sign Up</h4>
                <p class="mb-0">It's free and only takes a minute</p>
              </div>
              <div class="card-body">
                <el-form
                  ref="signupFormRef"
                  :model="signupForm"
                  :rules="rules"
                  label-width="auto"
                  class="demo-ruleForm"
                  size="large"
                  services-icon
                  :scroll-to-error="true"
                  label-position="top"
                  :hide-required-asterisk="true"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <el-form-item label="First Name" prop="first_name">
                        <el-input v-model="signupForm.first_name" />
                      </el-form-item>
                    </div>
                    <div class="col-md-6">
                      <el-form-item label="Last Name" prop="last_name">
                        <el-input v-model="signupForm.last_name" />
                      </el-form-item>
                    </div>
                    <div class="col-md-6">
                      <el-form-item label="Email Address" prop="email">
                        <el-input v-model="signupForm.email" />
                      </el-form-item>
                    </div>
                    <div class="col-md-6">
                      <el-form-item label="Phone" prop="phone">
                        <el-input v-model="signupForm.phone" />
                      </el-form-item>
                    </div>
                    <div class="col-md-6">
                      <el-form-item label="Address" prop="address">
                        <el-input v-model="signupForm.address" />
                      </el-form-item>
                    </div>
                    <div class="col-md-6">
                      <el-form-item label="Role" prop="role">
                        <el-select-v2
                          v-model="signupForm.role"
                          filterable
                          :options="roles"
                          placeholder="Please select a role"
                          style="width: 100%"
                        />
                      </el-form-item>
                    </div>
                    <div class="col-md-6">
                      <el-form-item label="Password" prop="password">
                        <el-input
                          v-model="signupForm.password"
                          type="password"
                           :show-password="true"
                        />
                      </el-form-item>
                    </div>
                    <div class="col-md-6">
                      <el-form-item
                        label=" Confirm Password"
                        prop="confirm_password"
                      >
                        <el-input
                          v-model="signupForm.confirm_password"
                          type="password"
                           :show-password="true"
                        />
                      </el-form-item>
                    </div>
                  </div>

                  <el-button
                    type="success"
                    class="px-5 d-block my-3 mx-auto"
                    :loading="isLoading"
                    @click="submitForm(signupFormRef)"
                  >
                    Sign Up
                  </el-button>
                </el-form>
              </div>
              <div class="px-1 pt-0 text-center card-footer px-lg-2">
                <p class="mx-auto mb-4 text-sm">
                  Already have an account?
                  <router-link
                    to="/signin"
                    class="text-success text-gradient font-weight-bold"
                    >Sign In</router-link
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { reactive, ref } from "vue";
import { ElNotification, ElMessage } from "element-plus";
import { signup } from "../api/services/authentication";
import { useRouter } from "vue-router";

const body = document.getElementsByTagName("body")[0];
const signupFormRef = ref();
const isLoading = ref(false);
const roles = ref([
  { label: "Admin", value: "admin" },
  { label: "Doctor", value: "doctor" },
  { label: "Receptionist", value: "receptionist" },
]);

export default {
  setup() {
    const router = useRouter();
    const signupForm = reactive({
      email: "",
      password: "",
      confirm_password: "",
      role: "",
      first_name: "",
      last_name: "",
      address: "",
      phone: "",
    });

    const rules = reactive({
      email: [
        {
          required: true,
          message: "Please input email address",
          trigger: "blur",
        },
        {
          type: "email",
          message: "Please input correct email address",
          trigger: ["blur", "change"],
        },
      ],
      password: [
        {
          required: true,
          message: "Please input your password",
          trigger: ["blur", "change"],
        },

        {
          min: 6,
          max: 255,
          message: "Minimum characters should be 6",
          trigger: "blur",
        },
      ],
      confirm_password: [
        {
          required: true,
          message: "Please confirm your password",
          trigger: ["blur", "change"],
        },

        {
          min: 6,
          max: 255,
          message: "Minimum characters should be 6",
          trigger: "blur",
        },
      ],
      first_name: [
        {
          required: true,
          message: "Please input your first name",
          trigger: ["blur", "change"],
        },
      ],
      last_name: [
        {
          required: true,
          message: "Please input your last name",
          trigger: ["blur", "change"],
        },
      ],
      phone: [
        {
          required: true,
          message: "Please input your phone number",
          trigger: ["blur", "change"],
        },
      ],
      address: [
        {
          required: true,
          message: "Please input your address details",
          trigger: ["blur", "change"],
        },
      ],
      role: [
        {
          required: true,
          message: "Please select a role",
          trigger: ["blur", "change"],
        },
      ],
    });

    const submitForm = async (formEl) => {
      if (!formEl) return;
      await formEl.validate((valid, fields) => {
        if (valid) {
          isLoading.value = true;

          const formData = new FormData();

          formData.append("first_name", signupForm.first_name);
          formData.append("last_name", signupForm.last_name);
          formData.append("phone", signupForm.phone);
          formData.append("address", signupForm.address);
          formData.append("email", signupForm.email);
          formData.append("role", signupForm.role);
          formData.append("password", signupForm.password);
          formData.append(
            "password_confirmation",
            signupForm.confirm_password
          );

          signup(formData)
            .then((data) => {
              if (data.success) {
                router.replace({ path: "/signin" });
                ElMessage({
                  message: data.message,
                  type: "success",
                });
              } else {
                let error = Object.values(data.errors);

                error.forEach((err) =>
                  ElNotification({
                    title: "Error",
                    message: err[0],
                    type: "error",
                  })
                );
              }
            })
            .catch((err) =>
              ElNotification({
                title: "Error",
                message: err.message,
                type: "error",
              })
            )
            .finally(() => {
              isLoading.value = false;
            });
        } else {
          console.log("error submit!", fields);
        }
      });
    };

    const resetForm = (formEl) => {
      if (!formEl) return;
      formEl.resetFields();
    };

    return {
      isLoading,
      resetForm,
      submitForm,
      rules,
      signupForm,
      signupFormRef,
      roles,
    };
  },

  created() {
    this.$store.state.hideConfigButton = true;
    this.$store.state.showNavbar = false;
    this.$store.state.showSidenav = false;
    this.$store.state.showFooter = false;
    body.classList.remove("bg-gray-100");
  },
  beforeUnmount() {
    this.$store.state.hideConfigButton = false;
    this.$store.state.showNavbar = true;
    this.$store.state.showSidenav = true;
    this.$store.state.showFooter = true;
    body.classList.add("bg-gray-100");
  },
};
</script>
<style scoped>
.el-button .custom-loading .circular {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  animation: loading-rotate 2s linear infinite;
}
</style>
