<template>
  <main class="mt-0 main-content">
    <section>
      <div class="page-header min-vh-100">
        <div class="row">
          <div
            class="top-0 my-auto text-center col-6 d-lg-flex d-none pe-0 justify-content-center flex-column"
            style="height: 100vh"
          >
            <div
              class="position-relative bg-gradient-primary h-100 px-7 d-flex flex-column justify-content-center overflow-hidden"
              :style="{
                backgroundImage:
                  'url(' + require('@/assets/img/task.jpg') + ')',
                backgroundSize: 'cover',
              }"
            >
              <span class="mask bg-gradient-secondary opacity-4"></span>
              <h4 class="mt-5 text-white font-weight-bolder position-relative">
                "Solutech Task Application"
              </h4>
              <p class="text-white position-relative">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim cum illo nostrum. Tenetur,
                optio. Illo, error. Ut atque, debitis temporibus dicta ipsum perferendis fugit sit vel earum
                laborum accusantium dolore ipsa illum,
                cum ab modi labore repellat asperiores fugiat, tempora, sapiente ipsum? Iusto.
              </p>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 my-auto align-items-end"
          >
            <div class="card card-plain">
              <div class="pb-0 card-header text-start">
                <h4 class="font-weight-bolder">Sign In</h4>
                <p class="mb-1">Enter your email and password to sign in</p>

              </div>
              <div class="card-body">
                <el-form
                  ref="loginFormRef"
                  :model="loginForm"
                  :rules="rules"
                  label-width="auto"
                  class="demo-ruleForm"
                  size="large"
                  services-icon
                  :scroll-to-error="true"
                  label-position="top"
                  :hide-required-asterisk="true"
                >
                  <el-form-item label="Email" prop="email">
                    <el-input v-model="loginForm.email" />
                  </el-form-item>
                  <el-form-item label="Password" prop="password">
                    <el-input
                      v-model="loginForm.password"
                      type="password"
                      :show-password="true"
                    />
                  </el-form-item>

                  <el-button
                    type="success"
                    class="px-5 d-block my-3 mx-auto"
                    :loading="isLoading"
                    @click="submitForm(loginFormRef)"
                  >
                    Login
                  </el-button>
                </el-form>
              </div>
              <div class="px-1 pt-0 text-center card-footer px-lg-2">
                <p class="mx-auto mb-4 text-sm">
                  Forgot your password?
                  <router-link
                    to="/forgot-password"
                    class="text-success text-gradient font-weight-bold"
                    >Reset</router-link
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { reactive, ref } from "vue";
import { ElNotification, ElMessage } from "element-plus";
import { login } from "../api/services/authentication";
import { useRouter } from "vue-router";
import { h } from "vue";

const body = document.getElementsByTagName("body")[0];
const loginFormRef = ref();
const isLoading = ref(false);

export default {
  setup() {
    const router = useRouter();
    console.log("the router", router);
    const loginForm = reactive({
      email: "",
      password: "",
    });

    const rules = reactive({
      email: [
        {
          required: true,
          message: "Please input email address",
          trigger: "blur",
        },
        {
          type: "email",
          message: "Please input correct email address",
          trigger: ["blur", "change"],
        },
      ],
      password: [
        {
          required: true,
          message: "Please input your password",
          trigger: ["blur", "change"],
        },

        {
          min: 6,
          max: 255,
          message: "Minimum characters should be 6",
          trigger: "blur",
        },
      ],
    });

    const submitForm = async (formEl) => {
      if (!formEl) return;
      await formEl.validate((valid, fields) => {
        if (valid) {
          isLoading.value = true;
          let body = {
            email: loginForm.email,
            password: loginForm.password,
          };

          login(body)
            .then((data) => {
              if (data.success) {
                localStorage.setItem("token", data.data.access_token);
                localStorage.setItem(
                  "profileName",
                  data.data.user.name
                );

                router.replace({ path: "/dashboard-default" });
                ElMessage({
                  message: h(
                    "i",
                    { style: "color: teal" },
                    `Welcome ${
                      data.data.user.name
                    } to your dashboard`
                  ),
                  type: "success",
                });
              } else {
                ElNotification({
                  title: "Error",
                  message: data.message[0],
                  type: "error",
                });
              }
            })
            .catch((err) =>
              ElNotification({
                title: "Error",
                message: err.message,
                type: "error",
              })
            )
            .finally(() => {
              isLoading.value = false;
            });
        } else {
          console.log("error submit!", fields);
        }
      });
    };

    const resetForm = (formEl) => {
      if (!formEl) return;
      formEl.resetFields();
    };

    return {
      isLoading,
      resetForm,
      submitForm,
      rules,
      loginForm,
      loginFormRef,
    };
  },

  created() {
    this.$store.state.hideConfigButton = true;
    this.$store.state.showNavbar = false;
    this.$store.state.showSidenav = false;
    this.$store.state.showFooter = false;
    body.classList.remove("bg-gray-100");
  },
  beforeUnmount() {
    this.$store.state.hideConfigButton = false;
    this.$store.state.showNavbar = true;
    this.$store.state.showSidenav = true;
    this.$store.state.showFooter = true;
    body.classList.add("bg-gray-100");
  },
};
</script>
<style scoped>
.el-button .custom-loading .circular {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  animation: loading-rotate 2s linear infinite;
}
</style>
