<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12">
        <div v-if="isLoading"><Loader /></div>
        <status-table :status="status" :refresh="fetchData" v-else />
      </div>
    </div>
  </div>
</template>  

<script>
import statusTable from "./components/StatusTable.vue";
import Loader from "./components/Loader.vue";
import { fetchStatus } from "../api/services/services";
import { ElLoading } from "element-plus";
import { ref } from "vue";

const isLoading = ref(false);
const status = ref([]);

export default {
  name: "status",
  components: {
    statusTable,
    Loader,
  },
  setup() {
    const fetchData = async () => {
      isLoading.value = true;
      try {
        const response = await fetchStatus();
        status.value = response.data.data;
      } catch (error) {
        console.log(error);
      } finally {
        isLoading.value = false;
      }
    };

    const fullScreenLoader = () => {
      ElLoading.status({
        lock: true,
        text: "Loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
    };

    return {
      fullScreenLoader,
      fetchData,
      status,
      isLoading,
    };
  },
  mounted() {
    this.fetchData();
  },
};
</script>
