<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12">
        <div v-if="isLoading"><Loader /></div>
        <tasks-table
          :tasks="tasks"
          :refresh="fetchData"
          v-else
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { fetchTasks } from "../api/services/services";
import TasksTable from "./components/TasksTable.vue";
import Loader from "./components/Loader.vue";

const tasks = ref([]);
const isLoading = ref(false);

export default {
  name: "tasks",
  components: {
    TasksTable,
    Loader,
  },
  setup() {
    const fetchData = async () => {
      isLoading.value = true;
      try {
        const response = await fetchTasks();
        tasks.value = response.data.data;
        console.log(tasks.value)
      } catch (error) {
        console.log(error);
      } finally {
        isLoading.value = false;
      }
    };
    return {
      tasks,
      isLoading,
      fetchData,
    };
  },
  mounted() {
    this.fetchData();
  },
 
};
</script>
