<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12">
        <div v-if="isLoading"><Loader /></div>
        <assignments-table 
          :assigns="assigns" 
          :refresh="fetchData" 
          v-else 
        />
      </div>
    </div>
  </div>
</template>
 
<script>
import AssignmentsTable from "./components/AssignmentsTable.vue";
import Loader from "./components/Loader.vue";
import { fetchAssigns } from "../api/services/services";
import { ElLoading } from "element-plus";
import { ref } from "vue";

const isLoading = ref(false);
const assigns = ref([]);

export default {
  name: "assigns",
  components: {
    AssignmentsTable,
    Loader,
  },
  setup() {
    const fetchData = async () => {
      isLoading.value = true;
      try {
        const response = await fetchAssigns();
        assigns.value = response.data.data;
        console.log(assigns.value)
      } catch (error) {
        console.log(error);
      } finally {
        isLoading.value = false;
      }
    };

    const fullScreenLoader = () => {
      ElLoading.services({
        lock: true,
        text: "Loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
    };

    return {
      fullScreenLoader,
      fetchData,
      assigns,
      isLoading,
    };
  },
  mounted() {
    this.fetchData();
  },
};
</script>
