<template>
  <main>
    <div class="py-4 container-fluid">
      <div class="row mt-5">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0 text-dark text-bold">Brian Kiptanui Details</p>
                <!-- <argon-button color="success" size="sm" class="ms-auto"
                  >Settings</argon-button
                > -->
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">User Information</p>
              <div class="row">
                <div class="col-md-6">
                  <dl>
                    <dt>First Name</dt>
                    <dd>Brian</dd>
                    <dt>Age</dt>
                    <dd>53</dd>
                    <dt>Gender</dt>
                    <dd>Male</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl>
                    <dt>Last Name</dt>
                    <dd>Kiptanui</dd>
                    <dt>ID Number</dt>
                    <dd>2322223244</dd>
                    <dt>Marital Services</dt>
                    <dd>Single</dd>
                  </dl>
                </div>
              </div>

              <hr class="horizontal dark" />
              <p class="text-uppercase text-sm">Contact Information</p>
              <div class="contant-info">
                <dl>
                  <dt>Phone Number</dt>
                  <dd>0727970853</dd>
                  <dt>Email</dt>
                  <dd>test@email.com</dd>
                  <dt>Address</dt>
                  <dd>323, Nairobi, Rongai</dd>
                </dl>
              </div>

              <hr class="horizontal dark" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0 text-dark text-bold">Quick Glance</p>
              </div>
            </div>
            <div class="card-body sidebar">
              <img
                alt="Image placeholder"
                src="@/assets/img/stetho.jpg"
                class="side-glance"
              />

              <dl>
                <dt>Joined</dt>
                <dd>28 Mar 2023</dd>
                <dt>Balanced Owed</dt>
                <dd>40,000</dd>
                <dt>Last Appointment</dt>
                <dd>22 Feb 2023</dd>
                <dt>Last Seen Doctor</dt>
                <dd>Doctor WHO</dd>
                <dt>Services</dt>
                <dd>Dental</dd>
              </dl>
              <div class="d-flex justify-content-center align-items-center">
                <TimelineDrawerVue />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
              <p class="mb-0 text-dark text-bold">Doctor's Feedback</p>
            </div>
          </div>
          <div class="card-body">
            <el-tabs
              tab-position="left"
              style="height: 200px"
              class="demo-tabs"
            >
              <el-tab-pane label="Triage">
                <div class="px-5">
                  <p class="text-uppercase text-sm">TRIAGE DETAILS</p>
                  <hr class="horizontal dark" />
                  <el-descriptions title="">
                    <el-descriptions-item
                      label-class-name="font-weight-bold"
                      label="Blood Pressure"
                      >120/80 mmHg</el-descriptions-item
                    >
                    <el-descriptions-item
                      label-class-name="font-weight-bold"
                      label="Temperature"
                      >36°C</el-descriptions-item
                    >
                    <el-descriptions-item
                      label-class-name="font-weight-bold"
                      label="Blood Sugar"
                      >97 mg/dL</el-descriptions-item
                    >

                    <el-descriptions-item
                      label-class-name="font-weight-bold"
                      label="Allergies"
                      >None</el-descriptions-item
                    >
                  </el-descriptions>
                </div>
              </el-tab-pane>
              <el-tab-pane label="Progress Notes">
                <div class="px-5">
                  <p class="text-uppercase text-sm">Progress Notes</p>
                  <hr class="horizontal dark" />
                  Editor goes here
                </div>
              </el-tab-pane>
              <el-tab-pane label="Services Rendered">
                <div class="px-5">
                  <p class="text-uppercase text-sm">Services Rendered</p>
                  <hr class="horizontal dark" />
                    <el-input
   
    rows="4"
    type="textarea"
    placeholder="Please input"
  />
                </div>
              </el-tab-pane>
              <el-tab-pane label="Prescription">
                <div class="px-5">
                  <p class="text-uppercase text-sm">Prescription</p>
                  <hr class="horizontal dark" />
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import setNavPills from "@/assets/js/nav-pills.js";
import setTooltip from "@/assets/js/tooltip.js";

import TimelineDrawerVue from "../components/Drawers/TimelineDrawer.vue";

const body = document.getElementsByTagName("body")[0];

export default {
  name: "profile",
  data() {
    return {
      showMenu: false,
     
    };
  },
  components: { TimelineDrawerVue},

  mounted() {
    this.$store.state.isAbsolute = true;
    setNavPills();
    setTooltip();
  },
  beforeMount() {
    this.$store.state.imageLayout = "profile-overview";
    this.$store.state.showNavbar = false;
    this.$store.state.showFooter = true;
    this.$store.state.hideConfigButton = true;
    body.classList.add("profile-overview");
  },
  beforeUnmount() {
    this.$store.state.isAbsolute = false;
    this.$store.state.imageLayout = "default";
    this.$store.state.showNavbar = true;
    this.$store.state.showFooter = true;
    this.$store.state.hideConfigButton = false;
    body.classList.remove("profile-overview");
  },
};
</script>
<style scoped>
dt {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.4rem;
  color: #495057;
  margin-bottom: 0.5rem;
}
dl {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;
  padding: 0 16px;
}
dd {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #495057;
}
.sidebar dl {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 30px 0 10px;
}
.contant-info dl {
  display: grid;
  grid-template-columns: 30% 70%;
}
.side-glance {
  max-height: 135px;
  width: 100%;
  object-fit: cover;
}
.sidebar button {
  margin: 20px auto;
  display: block;
}

.demo-tabs > .el-tabs__content {
  padding: 32px;
  color: #6b778c;
  font-size: 32px;
  font-weight: 600;
}

.el-tabs--right .el-tabs__content,
.el-tabs--left .el-tabs__content {
  height: 100%;
}
</style>
