<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12">
        <div v-if="isLoading"><Loader /></div>
        <users-table
          :users="users"
          :refresh="fetchData"
          v-else
        />
      </div>
    </div>
  </div>
</template>

<script>
import UsersTable from "./components/UsersTable.vue";
import Loader from "./components/Loader.vue";
import { fetchUsers } from "../api/services/users";
import { ElLoading } from "element-plus";
import { ref } from "vue";

const isLoading = ref(false);
const users = ref([]);

export default {
  name: "users",
  components: {
    UsersTable,
    Loader,
  },
  setup() {
    const fetchData = async () => {
      isLoading.value = true;
      try {
        const response = await fetchUsers();
        users.value = response.data.data;
      } catch (error) {
        console.log(error);
      } finally {
        isLoading.value = false;
      }
    };

    const fullScreenLoader = () => {
      ElLoading.services({
        lock: true,
        text: "Loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
    };

    return {
      fullScreenLoader,
      fetchData,
      users,
      isLoading,
    };
  },
  mounted() {
    this.fetchData();
  },
};
</script>
