<template>
  <main>
    <div class="py-4 container-fluid">
      <div v-if="isLoading"><Loader /></div>
      <div class="row mt-5" v-else>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0 text-dark text-bold">
                  {{
                    userDetails.name
                  }}
                  Details
                </p>
                <!-- <argon-button color="success" size="sm" class="ms-auto"
                  >Settings</argon-button
                > -->
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">User Information</p>
              <div class="row">
                <div class="col-md-6">
                  <dl>
                    <dt>Name</dt>
                    <dd>{{ userDetails.name }}</dd>
                    <dt>Email</dt>
                    <dd>{{ userDetails.email }}</dd>
                    <dt>Created Date</dt>
                    <dd>
                      {{ dateTime(userDetails.created_date) }}
                      <span v-if="getAge(userDetails.created_date) > 0"
                        >({{ getAge(userDetails.created_date) }}years)</span
                      >
                    </dd>
                  </dl>
                </div>
              </div>

              <hr class="horizontal dark" />
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0 text-dark text-bold">Quick Glance</p>
              </div>
            </div>
            <div class="card-body sidebar">
              <img
                alt="Image placeholder"
                src="@/assets/img/stetho.jpg"
                class="side-glance"
              />

              <dl>

              </dl>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </main>
</template>

<script>
import setNavPills from "@/assets/js/nav-pills.js";
import setTooltip from "@/assets/js/tooltip.js";
import { getUserDetails } from "../api/services/users";
import Loader from "@/components/Loader.vue";
import { ref } from "vue";
import moment from "moment";
import { useRoute } from "vue-router";

const body = document.getElementsByTagName("body")[0];
const isLoading = ref(false);
const userDetails = ref({});


// const patientId = this.$route.params.id;

export default {
  name: "profile",
  setup() {
    const fetchData = async (id) => {
      isLoading.value = true;
      try {
        const response = await getUserDetails(id);

        userDetails.value = response.data;

        console.log(userDetails.value);
      } catch (error) {
        console.log(error);
      } finally {
        isLoading.value = false;
      }
    };
    const dateTime = (value) => {
      return moment(value).format("Do MMM YYYY");
    };

    const getAge = (birthDate) =>
      Math.floor((new Date() - new Date(birthDate).getTime()) / 3.15576e10);
    return {
      fetchData,
      isLoading,
      userDetails,
      dateTime,
      getAge,
    };
  },
  components: { Loader },

  mounted() {
    this.$store.state.isAbsolute = true;
    setNavPills();
    setTooltip();
  },
  beforeMount() {
    this.$store.state.imageLayout = "profile-overview";
    this.$store.state.showNavbar = false;
    this.$store.state.showFooter = true;
    this.$store.state.hideConfigButton = true;
    body.classList.add("profile-overview");
  },
  beforeUnmount() {
    this.$store.state.isAbsolute = false;
    this.$store.state.imageLayout = "default";
    this.$store.state.showNavbar = true;
    this.$store.state.showFooter = true;
    this.$store.state.hideConfigButton = false;
    body.classList.remove("profile-overview");
  },
  created() {
    const route = useRoute();
    const id = route.params.id;
    this.fetchData(id);
  },
};
</script>
<style scoped>
dt {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.4rem;
  color: #495057;
  margin-bottom: 0.5rem;
}
dl {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;
  padding: 0 16px;
}
dd {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #495057;
}
.sidebar dl {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 30px 0 10px;
}
.contant-info dl {
  display: grid;
  grid-template-columns: 30% 70%;
}
.side-glance {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
}
.sidebar button {
  margin: 20px auto;
  display: block;
}
</style>
