<template>
  <div>
    <div v-if="loading">Loading...</div>
    <div v-else-if="error">
      {{ error }}
    </div>
    <slot v-else :data="data" />
  </div>
</template>
<script>
export default {
  name: "Fetcher",
  props: {
    apiMethod: {
      type: Function,
      required: true,
    },
    params: {
      type: Object,
      default: () => {},
    },
    updater: {
      type: Function,
      default: (previous, current) => current,
    },
    initialValue: {
      type: [Number, String, Array, Object],
      default: null,
    },
  },
  data() {
    return {
      loading: false,
      error: null,
      data: this.initialValue,
    };
  },
  methods: {
    fetch() {
      const { method, params } = this;
      this.loading = true;

      try {
        method(params);
      } catch (error) {
        this.error = error;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
