<template>
  <TaskAssignmentModal 
    v-show="showTaskAssignmentModal" 
    @close-task-modal="showTaskAssignmentModal = false" 
    @open-task-modal="showTaskAssignmentModal = true"
    @refresh-tasks="refresh" 
  />
  <div class="card">
    <div class="card-header pb-0 mb-5">
      <div class="d-flex align-items-center gap-2">
          <i class="fa fa-tasks text-primary me-2" />
        <h6>Users Assignments</h6>
      </div>
      <div class="cta">
        <button class="btn mb-0 btn-success btn-xs null null ms-auto" @click="showTaskAssignmentModal = true">
          <i class="fas fa-plus text-white me-1" aria-hidden="true"></i>New
          Task
        </button>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                User Name
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                Task Name
              </th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">
                Remarks
              </th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                Status
              </th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Start Time
              </th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                End Time
              </th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in assigns" :key="item.id + index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <div class="avatar avatar-sm me-3 bg-gradient-primary">
                      {{ getInitials(item.user_name) }}
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ item.user_name }}</h6>
                  </div>
                </div>
              </td>
              <td>
                  <h6 class="mb-0 text-sm">{{ item.task_name }}</h6>
              </td>
              <td>
                <h6 class="mb-0 text-sm">{{ item.remarks }}</h6>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="badge badge-sm" :class="getStatusColor(item.status_id)">
                  {{
                    item.status_id === 1
                    ? "Pending"
                    : item.status_id === 2
                    ? "In Progress" : item.status_id === 4 ? "Completed" : "Cancelled"
                  }}
                </span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{
                  formatDate(item.start_time)
                }}</span>
                <p class="text-xs text-secondary mb-0">
                  {{ formatTime(item.start_time) }}
                </p>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{
                  formatDate(item.end_time)
                }}</span>
                <p class="text-xs text-secondary mb-0">
                  {{ formatTime(item.end_time) }}
                </p>
              </td>
              <td class="align-middle text-center">
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link">
                    <i class="fa fa-ellipsis-v text-primary"></i>
                  </span>
                  <template #dropdown>
                    <el-dropdown-menu>
                      <el-dropdown-item :icon="Plus">
                        <router-link to="/user/1/summary" class="text-secondary font-weight-bold text-xs">View
                          Details</router-link></el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                </el-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import TaskAssignmentModal from "../../components/Modals/AddTaskAssignment.vue";
import { formatDate, formatTime } from "../../utils/date";

const showTaskAssignmentModal = ref(false);
const isLoading = ref(false);

export default {
  name: "assignments-table",
  props: {
    assigns: {
      type: Array,
      required: true,
    },
    refresh: {
      type: Function,
      required: true,
    },
  },
  components: { TaskAssignmentModal },

  setup(props) {
    console.log("propss", props.value)

    const getInitials = (name) => {
      if (name) {
        const nameSplit = name?.split(" ");
        const firstInitials = nameSplit[0]?.charAt(0);
        const secondInitials = nameSplit[1]?.charAt(0);

        return (
          (firstInitials ? firstInitials : "") +
          (secondInitials ? secondInitials : "")
        );
      }
      return "";
    };
    const getStatusColor = (status) => {
      switch (status) {
        case 1:
          return "bg-gradient-warning";
        case 2:
          return "bg-gradient-primary";
        case 3:
          return "bg-gradient-success";
        case 4:
          return "bg-gradient-danger";
        default:
          return null;
      }
    };
    return {
      showTaskAssignmentModal,
      formatDate,
      formatTime,
      getInitials,
      getStatusColor,
      isLoading
    };
  },
};
</script>

<style scoped>
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

h6 {
  margin: 0;
}

.ni-calendar-grid-58 {
  font-size: 25px;
}
</style>
