<template>
  <div class="card">
    <div class="card-header pb-0 mb-5">
      <div class="d-flex align-items-center gap-2">
        <i class="fa fa-cog text-primary text-md opacity-10"></i>
        <h6>Status</h6>
      </div>
      <div class="cta">
        <button
          class="btn mb-0 btn-success btn-xs null null ms-auto"
          @click="showModal = true"
        >
          <i class="fas fa-plus text-white me-1" aria-hidden="true"></i>New
          Status
        </button>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Status Name
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Created Date
              </th>

              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in status" :key="item.id + index">
              <td>
                <h6 class="mb-0 text-sm text-capitalize ps-3">
                  {{ item.name }}
                </h6>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{
                  dateTime(item.created_at)
                }}</span>
              </td>
              <td class="align-middle text-center">
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link">
                    <i class="fa fa-ellipsis-v text-primary"></i>
                  </span>
                  <template #dropdown>
                    <el-dropdown-menu>
                      <el-dropdown-item :icon="Plus">
                        <router-link
                          to="#"
                          class="text-secondary font-weight-bold text-xs"
                          >View</router-link
                        ></el-dropdown-item
                      >
                      <!-- <el-dropdown-item
                        class="text-secondary font-weight-bold text-xs"
                        @click="deleteSelectedStatus(item.id)"
                      >
                      Delete</el-dropdown-item> -->
                    </el-dropdown-menu>
                  </template>
                </el-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <StatusModal
    v-show="showModal"
    @close-status-modal="showModal = false"
    @refresh-status="refresh"
    :data="item" 
  />
</template>

<script>
import StatusModal from "../../components/Modals/AddStatus.vue";
import { deleteStatus } from "../../api/services/services";
import { ElMessage, ElMessageBox } from "element-plus";
import { h } from "vue";
import moment from "moment";
import { ref } from "vue";

const showModal = ref(false);
const isLoading = ref(false);

export default {
  name: "status-table",
  props: {
    status: {
      type: Array,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    refresh: {
      type: Function,
      required: true,
    },
  },
  components: { StatusModal },

  setup(props) {
    const getInitials = (name) => {
      if (name) {
        const nameSplit = name?.split(" ");
        const firstInitials = nameSplit[0]?.charAt(0);
        const secondInitials = nameSplit[1]?.charAt(0);

        return (
          (firstInitials ? firstInitials : "") +
          (secondInitials ? secondInitials : "")
        );
      }
      return "";
    };
    const deleteSelectedStatus = async (id) => {
      ElMessageBox.confirm(
        h(
          "div",
          { style: "color: black, font-size: 14px" },
          "The status will be deleted. Continue?"
        ),

        "Delete status",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "danger",
        }
      ).then(async () => {
        try {
          isLoading.value = true;
          const { message, success } = await deleteStatus(id);

          if (success) {
            props.refresh()
            ElMessage({
              type: "success",
              message: message,
            });
          } else {
            ElMessage({
              type: "error",
              message: message,
            });
          }
        } catch (error) {
          ElMessage({
            type: "error",
            message: error.message,
          });
        } finally {
          isLoading.value = false;
        }
      });
    };
    const getStatusColor = (status) => {
      switch (status) {
        case 0:
          return "bg-gradient-warning";
        case 1:
          return "bg-gradient-success";

        default:
          return null;
      }
    };
    const dateTime = (value) => {
      return moment(value).format("Do MMM YYYY");
    };

    return {
      dateTime,
      getStatusColor,
      getInitials,
      deleteSelectedStatus,
      showModal,
    };
  },

  mounted() {
    // console.log("check", this.users);
  },
};
</script>

<style scoped>
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
h6 {
  margin: 0;
}
.fa-user-md {
  font-size: 25px;
}
</style>
