<template>
  <TaskModal
    v-show="showTaskModal"
    @close-task-modal="showTaskModal = false"
    @open-task-modal="showTaskModal = true"
    @refresh-tasks="refresh" 
  />
  <div class="card">
    <div class="card-header pb-0 mb-5">
      <div class="d-flex align-items-center gap-2">
        <i class="ni ni-calendar-grid-58 text-primary text-md opacity-10"></i>
        <h6>Tasks</h6>
      </div>
      <div class="cta">
        <button
          class="btn mb-0 btn-success btn-xs null null ms-auto"
          @click="showTaskModal = true"
        >
          <i class="fas fa-plus text-white me-1" aria-hidden="true"></i>New
          Task
        </button>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Task Name
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Description
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Status
            </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Due Date
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Created Date
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in tasks" :key="item.id + index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <div class="avatar avatar-sm me-3 bg-gradient-primary">
                      {{ getInitials(item.name) }}
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ item.name }}</h6>
                  </div>
                </div>
              </td>
              <td>
                <h6 class="mb-0 text-sm">{{ item.description }}</h6>
              </td>
              <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm" :class="getStatusColor(item.status_id)">
                  {{
                    item.status_id === 1
                    ? "Pending"
                    : item.status_id === 2
                    ? "In Progress" : item.status === 3 ? "Completed" : "Cancelled"
                  }}
                  </span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{
                  formatDate(item.due_date)
                }}</span>
                <p class="text-xs text-secondary mb-0">
                  {{ formatTime(item.due_date) }}
                </p>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{
                  formatDate(item.created_at)
                }}</span>
                <p class="text-xs text-secondary mb-0">
                  {{ formatTime(item.created_at) }}
                </p>
              </td>
              <td class="align-middle text-center">
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link">
                    <i class="fa fa-ellipsis-v text-primary"></i>
                  </span>
                  <template #dropdown>
                    <el-dropdown-menu>
                      <el-dropdown-item :icon="Plus">
                        <router-link
                          to="/user/1/summary"
                          class="text-secondary font-weight-bold text-xs"
                          >View Details</router-link
                        ></el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                </el-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import TaskModal from "../../components/Modals/AddTask.vue";
import { formatDate, formatTime } from "../../utils/date";

const showTaskModal = ref(false);
const isLoading = ref(false);

export default {
  name: "tasks-table",
  props: {
    tasks: {
      type: Array,
      required: true,
    },
    refresh: {
      type: Function,
      required: true,
    },
  },
  components: { TaskModal },

  setup(props) {
    console.log("propss", props.value)

    const getInitials = (name) => {
      if (name) {
        const nameSplit = name?.split(" ");
        const firstInitials = nameSplit[0]?.charAt(0);
        const secondInitials = nameSplit[1]?.charAt(0);

        return (
          (firstInitials ? firstInitials : "") +
          (secondInitials ? secondInitials : "")
        );
      }
      return "";
    };
    const getStatusColor = (status) => {
      switch (status) {
        case 1:
          return "bg-gradient-warning";
        case 2:
          return "bg-gradient-primary";
        case 3:
          return "bg-gradient-success";
        case 4:
          return "bg-gradient-danger";
        default:
          return null;
      }
    };
    return {
      showTaskModal,
      formatDate,
      formatTime,
      getInitials,
      getStatusColor,
      isLoading
    };
  },
};
</script>

<style scoped>
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
h6 {
  margin: 0;
}
.ni-calendar-grid-58 {
  font-size: 25px;
}
</style>
