<template>
  <div class="card">
    <div class="card-header pb-0 mb-5">
      <div class="d-flex align-items-center gap-2">
        <i class="fas fa-users text-primary text-md opacity-10"></i>
        <h6>Users</h6>
      </div>
      <div class="cta">
        <button
          class="btn mb-0 btn-success btn-xs null null ms-auto"
          @click="showModal = true"
        > 
          <i class="fas fa-plus text-white me-1" aria-hidden="true"></i>New
          User
        </button>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                User Name
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Email
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Created Date
              </th>

              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in users" :key="item.id + index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>

                    <div class="avatar avatar-sm me-3 bg-gradient-primary">
                      {{
                        getInitials(
                          item.name 
                        ).toUpperCase()
                      }}
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">
                      {{ item.name }}
                    </h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{ item.email }}</p>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{
                  dateTime(item.created_at)
                }}</span>
              </td>
              <td class="align-middle text-center">
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link">
                    <i class="fa fa-ellipsis-v text-primary"></i>
                  </span>
                  <template #dropdown>
                    <el-dropdown-menu>
                      <el-dropdown-item :icon="Plus">
                        <router-link
                          :to="{ path: `/user/${item.id}` }"
                          class="text-secondary font-weight-bold text-xs"
                          >View</router-link
                        ></el-dropdown-item
                      >
                      <el-dropdown-item :icon="CirclePlusFilled">
                        <a class="text-xs" @click="showModal = true">Edit</a>
                      </el-dropdown-item>
                      <el-dropdown-item
                          class="text-secondary font-weight-bold text-xs"
                          @click="deleteSelectedUser(item.id)"
                      >
                      Delete</el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                </el-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <UsersModal
    v-show="showModal"
    @close-modal="showModal = false"
    :data="item"
    @refresh-users="refresh"
  />
</template>

<script>
import UsersModal from "../../components/Modals/AddUser.vue";
import { deleteUser } from "../../api/services/services";
import { ElMessage, ElMessageBox } from "element-plus";
import { h } from "vue";
import moment from "moment";
import { ref } from "vue";

const isLoading = ref(false);
const showModal = ref(false);

export default {
  name: "users-table",
  props: {
    users: {
      type: Object,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    refresh: {
      type: Function,
      required: true,
    },
  },
  components: { UsersModal },

  setup(props) {
    const getInitials = (name) => {
      if (name) {
        const nameSplit = name?.split(" ");
        const firstInitials = nameSplit[0]?.charAt(0);
        const secondInitials = nameSplit[1]?.charAt(0);

        return (
          (firstInitials ? firstInitials : "") +
          (secondInitials ? secondInitials : "")
        );
      }
      return "";
    };
    const deleteSelectedUser = async (id) => {
      ElMessageBox.confirm(
        h(
          "div",
          { style: "color: black, font-size: 14px" },
          "The user will be deleted. Continue?"
        ),

        "Delete user",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      ).then(async () => {
        try {
          isLoading.value = true;
          const { message, success } = await deleteUser(id);

          if (success) {
            props.refresh()
            ElMessage({
              type: "success",
              message: message,
            });
          } else {
            ElMessage({
              type: "error",
              message: message,
            });
          }
        } catch (error) {
          ElMessage({
            type: "error",
            message: error.message,
          });
        } finally {
          isLoading.value = false;
        }
      });
    };
    const getStatusColor = (services) => {
      switch (services) {
        case 0:
          return "bg-gradient-warning";
        case 1:
          return "bg-gradient-success";

        default:
          return null;
      }
    };
    const dateTime = (value) => {
      return moment(value).format("Do MMM YYYY");
    };

    return {
      dateTime,
      getStatusColor,
      getInitials,
      deleteSelectedUser,
      showModal,
    };
  },

  mounted() {
    console.log("check", this.users);
  },
};
</script>

<style scoped>
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
h6 {
  margin: 0;
}
.fa-user-md {
  font-size: 25px;
}
</style>
